*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}
.contanier{
    background-image: url(./images/diet.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat; 
    /* position: absolute; */
}
   
.contanier h1{
    font-size: 80px;
    top: 26%;
    left: 18%;
    position: absolute;
    padding-bottom: 20px;
    cursor: pointer;
}
.contanier h1::after{
    content: "";
    width: 0;
    border-radius: 50px;
    position: absolute;
    bottom: -4px;
    width: 100%;
    transform-origin: right;
    height: 6px;
    left: 0;
    background: #0df246;
    transition: transform 0.5s;
    transform: scaleX(0);
}
.contanier h1:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.contanier p{
    top: 50%;
    left: 22%;
    position: absolute;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.contanier p:hover{
  transform: scale(1.02);  
}
#logo img{
    width: 150px;
    height: 120px;
    margin: 10px;
    padding: 10px;
   transition: transform 0.15s ease-in-out;
}
#logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.dum h2{
    margin: 30px;
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    pointer-events: none;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 0px 0 30px;
    pointer-events: none;
}
.footer h4{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}
.nm{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.nm-link{
    flex: 1;
    text-align: center; 
    list-style: none;
    display: inline-block;
}
.nm-link li{
    list-style: none;
    display: inline-block;
    padding: 10px 22px;
    position: relative;
}
.footer h3{
    padding: 20px;
}
.footer h5{
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}
.hero{
    display: inline-block;
    top: 4%;
    left: 90%;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    padding: 12px 16px;
    background: transparent;
}
.hero:hover{
    border: 1px solid #f44336 ;
    background-color: #f44336;
    transition: 0.5s;
}
.row{

    width: 700px;
    height: 580px;
    margin-top: 320px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.col{
    width: 100%;
    height: 520px;
    text-align: center;
    margin: 10px;
}
.col img{
    width: 80%;
    position: relative;
    top: 50%;
    left: 9%;
    /* transform: translate(-50%,-50%); */
    border-radius: 20px;
}
.col h1{
    padding: 10px 0;
    color:#f44336;
}
.col p{
    padding: 0 20px;
    font-weight: 300;
}
