*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}
.headtext{
    width: 100%;
}
.headtext h1{
    text-align: center;
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    font-size: 50px;
    margin-left: 120px;
    transition: all 0.2s ease-in-out;
    
}
.headtext h1:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.headtext p{
    text-align: center;
   
    padding: 10px 30px 30px 30px;
}
.jini{
    margin: 10px;
    padding-top: 40px;
    text-align: start;
    padding-left: 40px;
    border-bottom: 2px solid white;
}
.jini h1{
    padding: 40px;
    font-size: 70px;
}
.jini h1 span{
    font-size: 25px;
    font-weight: 100;
}
.anchor{
    width: 100%;
    text-align: center;
}
.anchor ul{
    display: flex;
    padding: 2% 6%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 20px;
    justify-items: center;
}
.anchor ul li{
    text-align: center;
    width: 100%;
    height: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5%;
    text-align: center;
    transition: all 0.3s ease;
    justify-self: center;
    justify-items: center;
    cursor: pointer;
}
.hero{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 18px 38px;
    background: transparent;
    border-radius: 10px;
}
.hero:hover{
    background-color: #f44336;
    transition: 0.5s;
}
.herox{
    display: inline-block;
    text-decoration: none;
    margin: 50px;
    margin-left: 46%;
    color: white;
    align-items: center;
    border: 1px solid white;
    padding: 22px 16px;
    background: transparent;
}
.herox:hover{
    border: 1px solid #f44336 ;
    background-color: #f44336;
    transition: 0.5s;
}

.bkfst{
    background-image: linear-gradient(to bottom right,#d7e748, rgba(255, 0, 238, 0.4));
    width: 88%;
    color: black;
    margin: 20px 80px;
    height: 140px;
    position: relative;
    border-radius: 0px 40px 0 40px;
    transition: all 0.2s ease-in-out;
}
.bkfst:hover{
    scale: 1.05;
}
.bkfst h2{
    padding: 10px 0 0 15px;
    font-weight: 700;
    text-align: left;
}
.bkfst p{
    padding: 10px 0 0 65px;
    text-align: left;
}
.mms{
    background-image: linear-gradient(to bottom right,#6e55ca, rgba(1, 255, 35, 0.4));
    width: 88%;
    margin: 20px 80px;
    height: 140px;
    color: black;
    position: relative;
    border-radius: 0px 40px 0 40px;
    transition: all 0.2s ease-in-out;
}
.mms:hover{
    scale: 1.05;
}
.mms h2{
    padding: 10px 0 0 15px;
    text-align: left;
}
.mms p{
    padding: 10px 0 0 65px;
    text-align: left;
}

.afs{
    background-image: linear-gradient(to bottom right, #BD83B8, rgba(32, 214, 224, 0.4));
    width: 88%;
    color: black;
    margin: 20px 80px;
    height: 140px;
    position: relative;
    border-radius: 0px 40px 0 40px;
    transition: all 0.2s ease-in-out;
}
.afs:hover{
    scale: 1.05;
}
.afs h2{
    padding: 10px 0 0 15px;
    text-align: left;
}
.afs p{
    padding: 10px 0 0 65px;
    text-align: left;
}

.hyd{
    background-image: linear-gradient(to bottom right, #F5D7DB, rgba(104, 178, 14, 0.4));
    width: 88%;
    margin: 20px 80px;
    height: 140px;
    position: relative;
    border-radius: 0px 40px 0 40px;
    
    color: black;
    transition: all 0.2s ease-in-out;
}
.hyd:hover{
    scale: 1.05;
}
.hyd h2{
    padding: 10px 0 0 15px;
    text-align: left;
}
.hyd p{
    padding: 10px 0 0 65px;
    text-align: left;
}
.tip{
    background-image: linear-gradient(to bottom right,#F1916D , rgba(187, 154, 154, 0.4));
    width: 88%;
    margin: 20px 80px;
    height: 140px;
    position: relative;
    border-radius: 0px 40px 0 40px;

    color: black;
    transition: all 0.2s ease-in-out;
}
.tip:hover{
    scale: 1.05;
}
.tip h2{
    padding: 10px 0 0 15px;
    text-align: left;
}
.tip p{
    padding: 10px 0 0 65px;
    text-align: left;
}
.row{
    width: 100%;
    height: auto;
    pointer-events: none;
    display: flex;
    text-align: center;
}
.row h1,h2,p,h3{
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.col{
    flex: 1;
    padding: 10px;
    width: 33%;
    border-right: 2px solid white;
}
/* .col h2{
     transition: all 10s ease-in-out;
}
.col h2:hover{
    text-align: right;
    transform: ;
} */
.col p{
    text-align: left;
}
.huxx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    text-align: center;
    margin-bottom: 20px;
}
.tuxx{
    flex: 1;
    padding: 10px;
    text-align: right;
    background-size: cover;
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 300px;
    line-height: 32px;
}
.tuxx h1{
    text-align: right;
}
.tuxx p{
    text-align: right;
}
.fuxx{
    flex: 1;
    padding: 10px;
    text-align: left;
    background-size: cover;
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 300px;
    line-height: 32px;
}
.fuxx p{
    text-align: left;  
}
.tenor-gif-embed a{
    border-radius: 30px;
}