*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}
/* body::selection{
    color: #f44336;
} */
.container{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 15s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
}
@keyframes animate {
    0%,100%{
        background-image: url(./images/bg1.avif);
    }
    20%{
        background-image: url(./images/bg2.webp);
    }
    40%{
        background-image: url(./images/bg3.jpg);
    }
    60%{
        background-image: url(./images/bg4.webp);
    }
    80%{
        background-image: url(./images/bg5.jpg);
    }
}
.paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#logo{
    height: 120px;
    width: 150px;
   transition: all 0.15s ease-in-out;
   background-size: cover;
}
#logo:hover{
    cursor: pointer;
    transform: scale(1.3);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right; 
    transition: 0.2s ease-in;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.2s ease-in;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.textbox{
    width: 60%;
    color: white;
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
} 
.textbox h1{
    font-size: 50px;
    
}
.textbox p{
    margin: 10px 0 30px;
}
.hello{
    position: absolute;
    left: 85%;
    top: 23%;
    font-size: larger;
}
.hero{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 22px 16px;
    background: transparent;
}
.hero:hover{
    border: 1px solid #f44336 ;
    background-color: #f44336;
    transition: 0.5s;
}
.trip{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
   
}
.trip h1{
    font-size: 36px;
    font-weight: 600;
    pointer-events: none;
}
.trip p{
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    font-weight: 100;
    pointer-events: none;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.coloum{
    flex-basis: 31%;
    background-color: rgba(249, 224, 224, 0.675);
    border-radius: 35px;
    padding: 20px 12px;
    box-sizing: border-box;
    color: black;
    transition: transform 0.3s ease-in-out;
}
.coloum:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
.coloum h3{
    text-align: center;
    margin: 10px;
}
.lalala{
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
    pointer-events: none;
}
.lalala img{
    width: 80%;
    background-size: cover;
    align-items: center;
    padding-bottom: 30px;
    pointer-events: none;
}
.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.info h1{
    font-size: 36px;
    font-weight: 600;
    pointer-events: none;
}
.info p{
    font-size: 16px;
    line-height: 22px;
    pointer-events: none;
    pointer-events: none;
}
.col{
    flex-basis: 32%;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.col img{
    width: 100%;
    display: block;
}
.layer{
    background-color:transparent;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 -8%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: 0.5s ease-in-out;
}
.layer:hover{
    background-color: rgba(0, 0, 0, 0.715);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 29px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    line-height: 25px;
    pointer-events: none;
}
.layer:hover h3{
    bottom: 16%;
    opacity: 1;
}
.xxx{
font-size: 14px;
line-height: 2px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 30px;
}
.nm{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.nm-link{
    flex: 1;
    text-align: center; 
    list-style: none;
    display: inline-block;
}
.nm-link li{
    list-style: none;
    display: inline-block;
    padding: 10px 22px;
    position: relative;
}
.footer h3{
    padding: 20px;
    text-align: right;
    width: 61%;
    transition: all 0.3s ease-in-out;
}
.footer h3:hover{
    scale: 1.1;
}
.footer h5{
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}
.nav-links .popup{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    z-index: 3;
}
.nav-links .popup:hover{
    border: 1px solid #f44336 ;
    background-color: #f44336;
    transition: 0.3s;
}
.wrapper{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50%, -50%);  
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .3s ease, height 0.2s ease;
}
.wrapper.active-pp {
    transform: scale(1);
}
.wrapper .form-box{
    width: 80%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid  white;
    margin: 30px 0;  
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    top: -12px;
    font-size: 1em;
    font-weight: 500;  
    pointer-events: none; 
    transition: 0.3s;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    padding: 0px 20px 0 5px;
   
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px ;
}
.remember-forget a{
    color: #f44336;
    text-decoration: none;
}
.remember-forget{
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color:#f44336 ; 
    margin-right: 2px;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn6{
    width: 100%;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.btn6:hover{
    background-color: #f44336;
    color: white;
}
.login-register{
    font-size: .9em;
    text-align: center;
    margin: 25px 0px 10px 0;
}
.login-register a{
    color: #f44336;
    text-decoration: none;
    margin-left: 8px;
}
.login-register a:hover{
    text-decoration: underline;
}
.wrapper .icon-close{
    position:absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    background: #f44336;
    font-size: 2em;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.wrapper.active{
    height: 500px;
}
.wrapper .form-box.login{
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform 0.18s ease;
    transform: translateX(0);
  }
#logo img{
    width: 180px;
    height: 140px;
}
#logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
